<!DOCTYPE HTML>

<html xmlns:th="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments/head :: head"></head>

<body>
<!-- Navigation -->
<nav th:include="fragments/nav :: nav" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav"></nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 th:text="${head}">타이틀</h1>
                    <span class="subheading" th:text="${subhead}">하고싶은 한마디?</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div th:each="post:${currentPosts}" class="post-preview">
                <a th:href="@{/post/} + ${post.id}">
                    <h2 class="post-title" th:text="${post.title}">
                        노출 포스트 제목
                    </h2>
                </a>
                <p class="post-meta" th:text="${post.time}">작성일</p>
                <hr>
            </div>
            <div th:if="${empty}">
                존재하지 않습니다.
            </div>
        </div>
    </div>
</div>

<br/><br/>

<!-- Pager -->
<div class="container">
    <ul class="pagination justify-content-center">
        <li id="previous" class="page-item">
            <a class="page-link" th:href="@{/all_posts/}+${currentPageNumber-5}">이전</a>
        </li>
        <li th:each="page:${pager}" class="page-item"
            th:classappend="${page.number}==${currentPageNumber} ? active : ''">
            <a class="page-link" th:href="@{/all_posts/}+${page.number}" th:text="${page.number}">1</a>
        </li>
        <li id="next" class="page-item">
            <a class="page-link" th:href="@{/all_posts/}+${currentPageNumber+5}">다음</a>
       </li>
    </ul>
</div>

<hr/>

<!-- Footer -->
<footer th:include="fragments/footer :: footer"></footer>


<!-- Bootstrap core JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/js/my-blog.js"></script>

<script th:inline="text">
    var currentPageNumber = [[${currentPageNumber}]]
    var totalPageNumber = [[${currentPosts.totalPages}]];

    if(currentPageNumber-5 < 1)
        $('#previous').addClass("disabled");
    if(currentPageNumber+5 > totalPageNumber)
        $('#next').addClass("disabled");
</script>

</body>
</html>