<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments/head :: head"></head>

<body>

<!-- Navigation -->
<nav th:include="fragments/nav :: nav" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav"></nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('./img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Category</h1>
                    <span class="subheading" th:text="${subhead}">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-group">
                <li th:each="group:${allCategoryGroups}" class="list-group-item d-flex justify-content-between align-items-center nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                       role="button" aria-haspopup="true" aria-expanded="false"
                       th:text="${group?.groupName}">카테고리 그룹명</a>
                    <div class="dropdown-menu">
                        <a th:each="category:${group?.categories}" class="dropdown-item" href="#"
                           th:text="${category?.categoryName}">카테고리명</a>
                        <span class="badge badge-primary badge-pill" th:text="${category?.postCount}">글 개수</span>
                    </div>
                </li>
                <li th:each="category:${nullGroupCategories}" th:inline="text"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    &nbsp&nbsp&nbsp[[${category?.categoryName}]]
                    <span class="badge badge-primary badge-pill" th:text="${category.postCount}">글 개수</span>
                </li>
            </ul>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a tabindex="-1" href="#">Action</a></li>
                <li><a tabindex="-1" href="#">Another action</a></li>
                <li><a tabindex="-1" href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer th:include="fragments/footer :: footer"></footer>

<!-- Bootstrap core JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="./js/my-blog.js"></script>
</body>

</html>
